@import "../../styles.scss";

.header {

  &__image {
    height: 8rem;

    @media only screen and (max-width: $bp-medium) {
      height: 6rem;
    }

    @media only screen and (max-width: $bp-small) {
      height: 4rem;
    }
  }
}
