@import "../../styles.scss";

.container {
  margin: 2rem;

  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 2rem;
  justify-content: center;

  .form {
    display: grid;

    grid-template-rows: 1rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    grid-row-gap: 0.5rem;
    grid-column-gap: 1rem;

    &__country {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      border-radius: 3px;
    }

    &__department {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      border-radius: 3px;
    }

    &__btn {
      grid-row: 2 / 2;
      grid-column: 3 / 4;
      justify-self: center;
    }
  }
}

.listings {
  list-style: none;

  &__item {
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
  }

  &__title {
    font-size: $font-size-md;
  }

  &__location {
    font-size: $font-size-sm;
  }
}
