<div class="container">
  <app-loading-spinner *ngIf="isFetching && !error"></app-loading-spinner>
  <app-error *ngIf="error" [error]="error"></app-error>

  <div class="postings">
    <app-header class="postings__header"></app-header>
    <form class="postings__form" [formGroup]="searchForm">
      <label class="postings__form-country-lbl" for="country">Select country</label>
      <select
        class="postings__form-country"
        id="country"
        formControlName="country">
        <option *ngFor="let country of countries" [value]="country" >{{ country }}</option>
      </select>

      <label class="postings__form-department-lbl" for="department">Select department</label>
      <select
        class="postings__form-department"
        id="department"
        formControlName="department">
        <option *ngFor="let department of departments" [value]="department" >{{ department }}</option>
      </select>

      <button class="btn-primary postings__form-btn" (click)="onReset()">Reset</button>
    </form>

    <!-- <ng-template #noResults>
      <app-results [results]="0"></app-results>
    </ng-template> -->

    <div class="listings" *ngIf="listings">
      <div *ngIf="(listings
        | filter:filteredCountry:'country':unfiltered
        | filter:filteredDepartment:'department':unfiltered) as results">
        <app-results [results]="results.length"></app-results>
        <ul class="listings__list">
          <li class="listings__list-item"
            *ngFor="let listing of results; index as i; count as totResults">
            <div [routerLink]="[ '/details', listing.id ]">
              <span>
                <div class="listings__list-title">
                  {{ listing.name }} ({{ listing.id }})
                </div>
                <div class="listings__list-location">
                  {{ listing.city }},  {{ listing.country }}
                </div>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <app-footer class="postings__footer"></app-footer>
  </div>

</div>
