// COLOR VARIABLES
$color-primary: #28a745;
$color-secondary: #212529;

$color-black: #000;
$color-white: #fff;


// FONT VARIABLES
$font-primary: "Lato", sans-serif;
$font-size-sm: 1.25rem;
$font-size-md: 2rem;
$font-size-lg: 3rem;


// RESPONSIVE BREAKPOINTS
$bp-largest: 62.5em;    //1000px
$bp-large: 50em;        //800px
$bp-medium: 37.5em;     //600px


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;       // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 45%;
  }
}

body {
  font-family: $font-primary;
  color: $color-black;
  font-weight: 300;
  line-height: 1.6;
}

p {
  margin-bottom: 1rem;
}

.btn {
  color: $color-white;
  background-color: $color-primary;
  border-radius: 3px;
  border: none;
  padding: 1rem 5rem;
  cursor: pointer;
}


// UTILITY CLASSES
.u-margin-bottom-sm { margin-bottom: 1rem; }
.u-margin-bottom-md { margin-bottom: 2rem; }
.u-margin-bottom-lg { margin-bottom: 4rem; }
.u-margin-bottom-hg { margin-bottom: 8rem; }
