// COLOR VARIABLES
$color-primary: #28a745;

$color-secondary: #212529;
$color-secondary-dark: #000;

$color-grey-light-1: #f9f7f6;


// FONT VARIABLES
$font-primary: "Lato", sans-serif;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;       // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: $font-primary;
  color: $color-secondary-dark;
  font-weight: 300;
  line-height: 1.6;
}
