// COLOR VARIABLES
$color-primary: #28a745;
$color-primary-light: #6ebb80;
$color-secondary: #212529;

$color-black: #000;
$color-white: #fff;


// FONT VARIABLES
$font-primary: "Lato", sans-serif;
$font-size-sm: 1.25rem;
$font-size-md: 2rem;
$font-size-lg: 3rem;


// RESPONSIVE BREAKPOINTS
$bp-largest: 62.5em;    //1000px
$bp-large: 50em;        //800px
$bp-medium: 37.5em;     //600px
$bp-small: 31.25em;     //500px


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;       // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-black;
  font-weight: 300;
  line-height: 1.6;
}

p {
  margin-bottom: 1rem;
}

select {
  &:hover {
    border-color: $color-primary;
    box-shadow: 0 0 0 0.5rem rgba($color-primary-light, .3);
  }
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  color: $color-white;
  background-color: $color-primary;
  border-radius: 3px;
  border: none;
  padding: 1rem 5rem;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
  }

  &:active,
  &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }
}


// UTILITY CLASSES
.u-margin-bottom-sm { margin-bottom: 1rem; }
.u-margin-bottom-md { margin-bottom: 2rem; }
.u-margin-bottom-lg { margin-bottom: 4rem; }
.u-margin-bottom-hg { margin-bottom: 8rem; }
