<div class="container">
  <app-header></app-header>
  <app-loading-spinner *ngIf="isFetching && !error"></app-loading-spinner>
  <app-error *ngIf="error" [error]="error"></app-error>
  <button (click)="onReturn()">Back to listings</button>
  <h2>{{ details.name }}</h2>
  <h6>{{ details.city}}, {{ details.country }}</h6>
  <h5>{{ details.jobDescriptionTitle }}</h5>
  <p [innerHTML]="details.jobDescriptionText | sanitizeHtml"></p>
  <h5>{{ details.qualificationsTitle }}</h5>
  <p [innerHTML]="details.qualificationsText | sanitizeHtml"></p>
</div>
